@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply overscroll-none
}

body {
	@apply font-normal text-base overflow-x-hidden antialiased;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

@layer base {
	:root {
		--radius: 0.5rem
	}
}

.staticBg {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	opacity: 0.3;
	mix-blend-mode: difference;
	pointer-events: none;
}

.staticBg::before {
	content: "";
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../../public/images/img.png');
	animation: 100ms linear infinite noise;
}

@keyframes noise {
	0% {
		background-position: 0 0;
	}
	10% {
		background-position: -5% -10%;
	}
	20% {
		background-position: -15% -5%;
	}
	30% {
		background-position: 5% -25%;
	}
	40% {
		background-position: 20% 25%;
	}
	50% {
		background-position: -25% 10%;
	}
	60% {
		background-position: 15% 5%;
	}
	70% {
		background-position: 0 15%;
	}
	80% {
		background-position: 25% 35%;
	}
	90% {
		background-position: -10% 10%;
	}
	100% {
		background-position: 0 0;
	}
}

@media (pointer: none) {
	.custom-cursor {
		display: none;
	}
}

@media (pointer: coarse) {
	.custom-cursor {
		display: none;
	}
}

.left-col {
	width: 10rem;
	display: flex;
	align-items: center;
}

.btn {
	display: flex;
	flex-direction: column-reverse;
	border: solid;
	align-items: center;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.btn:hover {
	background-color: #f0ecdc;
	color: black;
}

.all {
	display: flex;
	justify-content: center;
	font-size: 3rem;
	margin-top: 1rem;
}

.align {
	display: flex;
}

.div-center {
	display: flex;
	justify-content: center;
}

.field-text {
	color: black;
	margin: 0.75rem;
	width: 40rem;
	padding: 0.2rem;
}

.field {
	color: black;
	margin: 0.75rem;
	padding: 0.2rem;
	
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}

.nav-tabs .nav-link {
	margin-bottom: -1px;
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}

.nav-link {
	display: block;
	padding: .5rem 1rem;
	
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
	font-weight: 600;
}

thead {
	background: #a5a39d;
	
}

tbody {
	background: #f3f2f1;
	
}

.addRow {
	background: #e1e0dc;
	
}

.addRow td, .pl-0 {
	padding-left: 0px !important;
}

th {
	border: 1px solid;
}

tr, td {
	border: 1px solid;
	border-color: #61605e;
	color: black;
	padding-left: 0.5rem;
	
}


.loading {
	position: relative;
	mix-blend-mode: difference;
	pointer-events: none;
}

.loading::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../../public/images/img.png');
	animation: 100ms linear infinite noise;
}