.marquee {
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	animation: flicker 5s step-end;
	animation-iteration-count: 3;
}

.marquee span {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 50s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes flicker {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	2% {
		opacity: 0.3;
	}
	3% {
		opacity: 0.7;
	}
	4% {
		opacity: 0.3;
	}
	6% {
		opacity: 1;
	}
	25% {
		opacity: 0.3;
	}
	26% {
		opacity: 1;
	}
	27% {
		opacity: 0.3;
	}
	28% {
		opacity: 1;
	}
	75% {
		opacity: 0.3;
	}
	76% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}